<div class="bio">
    <div class="content">
        <h1>Stephen Fluin</h1>
        <p>
            Stephen leads Developer Relations for the Angular Team at Google. Stephen works to solve real world problems faced by developers and businesses, and to represent the needs of the community within the Angular team.
        </p>
        <p>
            With 18 years in the Software Development industry, Stephen has served as an executive technologist, consultant, and entrepreneur in several organizations.
        </p>
        <p>
            Stephen applies deep technical knowledge and business accumen to accelerate software development. As an avid fan of wearables and the Internet of Things, he frequently collaborates with businesses and developers in the community.
        </p>
        <br>
    </div>
</div>