<div class="bio">
    <h1>Stephen Fluin</h1>
    <p> Webtwo ipsum dolor sit amet, eskobo chumby doostang bebo. Woopra xobni wakoopa wufoo whrrl eskobo woopra, joost revver
        spotify sococo scribd appjet mozy, blyve waze zoosk kippt oooooc chartly. Foodzie meevee bebo quora chartly joukuu
        kosmix, vimeo zanga cuil jumo voki, cotweet chumby insala odeo zoosk. Trulia twitter bubbli glogster vuvox bitly,
        joost appjet mzinga zoosk hulu, shopify joukuu imvu tumblr. Elgg wufoo revver movity joukuu oooooc vimeo chegg meebo
        napster boxbe, diigo convore sococo jajah disqus mog kippt ngmoco oovoo zoho zoodles, palantir tivo lanyrd plugg
        sclipo edmodo whrrl wufoo revver.</p><br>

</div>