<!-- blogposts-->
<div id="blogpost">
    <router-outlet></router-outlet>

    <!-- sidebar-->
    <div id="sidebar" class="padded">
        <section style="margin-top: 0px; text-align: center">
            <img
                style="width: 50%; height: auto; border-radius: 100%"
                src="/assets/images/mainpic.jpg"
                alt="Stephen Fluin"
                width="960"
                height="960"
                loading="lazy"
                decoding="async"
            />
            <div>
                <p>Thank you for stopping by!</p>
            </div>
        </section>

        <hr />
        <!--
    <section>
      <input type="search" placeholder="search">
    </section>
    <hr>-->

        <section id="social">
            <a href="https://bsky.app/profile/stephenfluin.bsky.social" target="_blank" rel="noopener me"
                ><img src="/assets/images/bluesky.svg" alt="Bluesky" width="50" height="44"
            /></a>
            <a href="https://github.com/StephenFluin" target="_blank" rel="noopener me"
                ><img src="/assets/images/sm-github.svg" alt="Github" width="50" height="50"
            /></a>
            <a href="https://www.linkedin.com/in/stephenfluin" target="_blank"
                ><img src="/assets/images/sm-linkedin.svg" alt="Linkedin" width="50" height="50"
            /></a>
        </section>

        <hr />

        <section id="category-list">
            <div>Angular</div>
            <div>Wearables</div>
            <div>Mobile</div>
        </section>

        <hr />

        <section id="featured-blogs" aria-labelledby="featured-posts-heading">
            <h2 id="featured-posts-heading" class="sidebar-heading">Featured posts</h2>
            @for (post of posts(); track post) {
            <a [routerLink]="['/blog', post.id]" class="featured-blog card">
                <img
                    class="featured-blog-image"
                    [src]="featuredPostImage(post)"
                    [attr.srcset]="featuredPostImageSet(post)"
                    [sizes]="featuredImageSizes"
                    alt=""
                    width="240"
                    height="150"
                    loading="lazy"
                    decoding="async"
                />
                <div class="featured-blog-details">
                    <h3>{{ post.title }}</h3>
                    <p>Read More -></p>
                </div>
            </a>
            }
        </section>
        <!-- end featured-blogs-->
    </div>
</div>
