@if (post()) {
<article class="container post" style="flex-grow: 1">
    <h1>{{ post().title }}</h1>
    <div class="post-details">
        <span class="post-author">by Stephen Fluin</span>
        <span class="post-date date">{{ post().date }}</span>
    </div>
    @if (adminService.isAdmin) {
    <div>
        <a [routerLink]="['/admin/', post().id]">Edit This Post</a>
    </div>
    }
    <div class="highlight-image">
        @if (!post().image) {
        <img src="/assets/images/imgpostholder.png" [alt]="post().title" />
        } @if (post().image) {
        <img [src]="post().image" [alt]="post().title" />
        }
    </div>
    <div [innerHTML]="post().renderedBody" class="post-content"></div>
</article>
}
