<!-- intro-block-->
<div id="intro-block">
    <img src="/assets/images/mainpic.jpg" alt="Stephen Fluin" class="padded">
    <div>
        <div>
            <h1>Stephen Fluin</h1>
        </div>
        <div>
            <p>Executive Technologist, Entrepreneur, and Mobile Expert. Developer Advocate by trade. Consultant to hundreds
                of startup, mid-sized, and Fortune 500 companies. Combines a deep understanding of modern technology and
                business practices to build great software products, strategies, and experiences. Avid fan of wearables and the Internet of Things.</p>
            <br/>
            <p>Interests: Drone Flying, Photography, Software Engineering, and Traveling.</p>
        </div>
    </div>
</div>
<!-- end intro-block-->

<hr>
<post-list></post-list>