<!-- intro-block-->
<div id="intro-block">
    <img src="/assets/images/mainpic.jpg" alt="Stephen Fluin" class="padded">
    <div>
        <div>
            <h1>Stephen Fluin</h1>
        </div>
        <div>
            <p>I make developers more effective. Stephen combines a deep understanding of modern technology and
                business practices to drive great software products, strategies, and experiences. Stephen is an avid fan of wearables and the decentralized internet.</p>
            <br/>
            <p>I love photography/videography, flying drones, building apps that solve my own problems, and traveling the world.</p>
        </div>
    </div>
</div>
<!-- end intro-block-->

<hr>
<post-list [limit]="64"></post-list>