<!-- posts-block-->
<div id="posts-block">
    <div class="post-block" *ngFor="let talk of talks | async | refirebase" [routerLink]="['/talks',talk.$key]">
        <div class="post-image" *ngIf="!talk.image" style="background-image: url('/assets/images/imgpostholder.png')"></div>
        <div class="post-image" *ngIf="talk.image" [style.background-image]="'url('+talk.image+')'"></div>
        <div class="post-title">
            <h2>{{talk.title}}</h2>
        </div>
        <div class="post-date">
            <h3 class="date">{{talk.date}}</h3>
        </div>
    </div>

</div>