<!-- intro-block-->
<div id="intro-block">
    <img src="/assets/images/mainpic.jpg" alt="Stephen Fluin" class="container" style="width:300px;">
    <div style="width: 700px;">
        <div>
            <h1>Stephen Fluin</h1>
        </div>
        <div>
            <p>Executive Technologist, Entrepreneur, and Mobile Expert. Developer Advocate by trade. Consultant to hundreds
                of startup, mid-sized, and Fortune 500 companies. Combines a deep understanding of modern technology and
                business practices to build great software products, strategies, and experiences. Avid fan of wearables and the Internet of Things.</p>
            <br/>
            <p>Interests: Drone Flying, Photography, Software Engineering, and Traveling.</p>
        </div>
    </div>
</div>
<!-- end intro-block-->

<hr>

<!-- posts-block-->
<div id="posts-block">
    <div class="post-block" *ngFor="let post of posts | async" [routerLink]="['blog',post.id]">
        <div class="post-image"><img src="/assets/images/imgpostholder.png"></div>
        <div class="post-title">
            <h2>{{post.title}}</h2>
        </div>
        <div class="post-date">
            <h3 class="date">{{post.date}}</h3>
        </div>
    </div>

</div>
<!-- end posts-block-->