<!-- header-->
<div class="padded" id="header">
    <div>
        <a routerLink="/" style="font-weight:bold;font-size:42px;color:white;">
            fluin.io
            <!--<img id="logo" src="assets/images/logo.png">-->
        </a>
    </div>
    <div class="spacer"></div>
    <nav>
        <a routerLink="/blog">Blog</a>
        <a routerLink="/bio">Bio</a>
        <!--<a routerLink="/projects">PROJECTS</a>-->
        <a routerLink="talks">Talks</a>
        <a href="https://twitter.com/stephenfluin" target="_blank" rel="noopener">
            <img id="twitter-pic" alt="@stephenfluin on twitter" src="/assets/images/twitter.svg">
        </a>
    </nav>
</div>
<!-- end header-->