<!-- header-->
<div class="container" id="header">
    <div>
        <a routerLink="/">
            <img id="logo" src="images/logo.png">
        </a>
    </div>
    <div class="spacer"></div>
    <div>
        <a routerLink="/blog">
            <h1>BLOG</h1>
        </a>
    </div>
    <div>
        <a routerLink="/bio">
            <h1>BIO</h1>
        </a>
    </div>
    <!--<div>
        <a routerLink="/projects">
            <h1>PROJECTS</h1>
        </a>
    </div>
    <div>
        <a routerLink="speaking">
            <h1>SPEAKING</h1>
        </a>
    </div>-->
    <div>
        <a href="https://twitter.com/stephenfluin" target="_blank">
            <img id="twitter-pic" src="images/twitter.svg">
        </a>
    </div>
</div>
<!-- end header-->