<style>
  mat-form-field {
  display: block;
}

mat-input {
display: block;
margin: 0 0 32px 0;
}
</style>
@if (postData(); as post) {
  <div class="padded" style="flex-grow: 1" (keydown)="onKey($event, post)">
    <div class="columns" style="display: flex">
      <form style="width: 50%; padding: 16px" ngNoForm>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput [(ngModel)]="post.title" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Image URL</mat-label>
          <input matInput [(ngModel)]="post.image" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Post ID / slug</mat-label>
          <input matInput [(ngModel)]="post.id" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput type="date" [(ngModel)]="post.date" />
        </mat-form-field>
        <textarea
          placeholder="body"
          (ngModelChange)="contentChange(post)"
          [(ngModel)]="post.body"
          [style.height.px]="(post && post.body && post.body.length > 200 && post.body.length / 2) || 400"
          style="width: 100%; padding: 8px"
        ></textarea>
        <button type="button" (click)="save(post)">Save</button>
      </form>
      <div style="width: 50%; padding: 16px" class="post">
        <div class="highlight-image">
          @if (!post.image) {
            <img src="/assets/images/imgpostholder.png" [alt]="post.title" />
          }
          @if (post.image) {
            <img [src]="post.image" [alt]="post.title" />
          }
        </div>
        <h1>
          <a [routerLink]="['/blog', post.id]" target="preview">{{ post.title }}</a>
        </h1>
        <div>
          <h3>by Stephen Fluin</h3>
        </div>
        <div class="date">
          <h3>{{ post.date }}</h3>
        </div>
        <div [innerHTML]="postPreview()"></div>
      </div>
    </div>
    <div>
      @if (post.id) {
        <image-upload [folder]="'posts/' + post.id"></image-upload>
      }
    </div>
    <div>
      <h2>Delete Post</h2>
      <button (click)="delete(post)">Delete This Post</button>
    </div>
  </div>
} @else {
  Loading posts...
}
