* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #383f49;
    background-color: #929292;
}

p {
    font-size: 12px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.date {
    color: gray;
    font-weight: normal;    
}

/* HEADER-TOOLBAR SECTION */

#header {
    display: flex;
    align-items: center;
    /*border: 1px solid red;
    background: rgba(0,0,0,.5);*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 75px;
    background-color: rgba(53,63,73,0.6);
}

#header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: rgba(255,255,255,.85);
    text-transform: uppercase;
}

#page {
    margin-top:150px;
}

a:visited, a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#header div a:hover h1 {
    color: white;
}

a:active {
    text-decoration: none;
}

.container {
    padding: 16px;
}

#header>div {
    padding: 0px 30px;
}

.spacer {
    flex-grow: 1;
}

#logo {
    height: 40px;
}

#twitter-pic {
    height: 25px;
    width: 25px;
}

/* INTRO BLOCK SECTION */

#intro-block {
    /*border: 1px solid blue;*/
    display: flex;  
    width: 90%;
    margin: 150px auto 75px;
}

#intro-block>div {
    flex-grow: 1;
    /*border:1px solid green;*/
}

#intro-block h1 {
    font-size: 100px;
    text-transform: uppercase;
    line-height: 1;
    /*color: #383f49;*/
    color: white;
}

#intro-block h2 {
    font-size: 16px;
    line-height: 2;
    padding-top: 10px;
}

#intro-block img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main-pic {
    display: flex;
    height: 300px;
}

/* BLOG POSTS SECTION */

#posts-block {
    display: flex;
    justify-content: space-around;
    /*border: 1px solid mediumpurple;*/
    width: 90%;
    margin: 50px auto 0px;
}

#posts-block>div {
    background: white;
    margin: 16px;
    text-align: center;
    border: 0.25px solid #929292;
    height: 300px;
}

.post-image img {
    width: 100%;
    max-width: 350px; /*250px height*/
    border-bottom: solid 0.25px #929292;
}

.post-title {
    margin: 10px 0px;
}

/* FOOTER SECTION */

.footer {
    background: #929292;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    /*display: flex;
    justify-content: flex-end;*/
    align-items: center;
    border-top: 0.25px solid #929292;
}

.footer div p {
    text-align: right;
    color: white;
    /*border: 1px solid purple;*/
}

/* ------------------- BLOG PAGE CSS ------------------- */

/* SIDEBAR-NAVBAR SECTION */

#sidebar {
  position: fixed;
  right: 0;
  top: 75px;
  z-index: 9999;
  width: 25%px;
  height: 100%;
  background-color: white;
  border-left: 0.25px solid #929292;
}

#sidebar>div {
    margin: 20px;
}

#sidebar input[type=search] {
    height: 30px; 
    width: 100%;
    text-indent: 10px;
}

#blogposts {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    /*border: 1px solid blue;*/
    display: flex;  
    width: 75%;
    margin-top: 100px;
}

#blogposts>div {
    padding: 0px 30px;
    margin: 10px 0;
}

.main-image {
    width: 600px;
}

.main-image img{
    width: 100%;
    display: flex;
}

#blogposts p {
    line-height: 1.8;
}

#blogposts>div {
    flex: 0 0 auto;
    /*border:1px solid green;*/
}

#category-list {
    line-height: 1.5;
}

#social {
    display: flex;
    justify-content: space-between;
}

#social img {
    height: 30px;
    color: #999999;
}

/* BLOG SECTION */

#featured-blogs img {
    width: 200px;
}

/* ------------------- BIO PAGE CSS ------------------- */

/* BIO TEXT SECTION */

.bio {
    background-image: url('/assets/images/background-1sm.jpg');
    background-size:cover;
    background-position: center top;
    background-repeat:no-repeat;
    min-height:1000px;
    margin-top:-150px;
}

.bio .content {
    position: absolute;
    top: 300px;
    right: 200px;
    left:55%;
}

.bio h1, p {
    color: white;
    padding: 10px;
}

.bio p {
    line-height: 1.5;
    font-size: 1.5em;
}